body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

.App-link {
  color: #61dafb;
}

.entry {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  height: 20px;
  width: 28px;
}

.entry.red {
  color: red;
}

.entry.green {
  color: green;
}

label {
  margin-right: 8px;
}

input[type=number] {
  width: 36px;
}
