body {
  background-color: #121317;
  color: white;
}

.App {
  text-align: center;
}

h1 {
  font-size: 4rem;
}

.App-link {
  color: #61dafb;
}

form {
  margin-bottom: 1rem;
}

.entry {
  align-items: center;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  height: 20px;
  width: 28px;
}

.colours-xmas .true {
  color: #FF2424;
}

.colours-xmas .false {
  color: #36FA36;
}

.colours-icefire .true {
  color: #F05454;
}

.colours-icefire .false {
  color: #97E4F7;
}

label {
  margin-right: 8px;
}

input[type=number] {
  width: 36px;
}
